DATABASE_URI_LOCAL=file:./scrum.db
DATABASE_URI_POSTGRES=postgresql://
PAYLOAD_SECRET=1c9dab8f2b20cd002ae8ff26

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Used to share cookies across subdomains
COOKIE_DOMAIN=localhost